{% extends "layout.html" %}
{% block body %}
<div id="about">
<section>
  <div class="container-fluid">
    <h1 class="text-center pt-5"> About Us</h1>
     <hr class="w-25 mx-auto pt-5">

    <h1 class="text-center font-weight-bold text-capitalize" style="color: #bd2130">The Evolution Of Kreami Cakes!</h1>
    <p class="text-center mx-auto">
     The uneven cake sponge, pungent smell of rotten eggs, artificial flavors, and tasteless icings is
      something you won’t going to find here at Kreami Cakes!
    </p>
    <h2 class="text-capitalize text-center pt-1 font-weight-bold" style="color: #4e555b">From where it all started?</h2>
    <p class="text-center mx-auto">Like every homemade and organic food item the Kreami Cakes was similarly founded in the kitchen of our home. It was a beautiful evening with a soothing cold wind when we first baked a cake years ago at our stove oven. Although, we were not the professional bakers at that time but the love for family devoted us to bake a good cake for everyone. Somehow, we were able to make a cake with a sweetness that ended up in the mouth of all the family members, this was the moment when everybody at our family cherished and we decided not to stop and spread the pleasent aroma of love! :)
<img class="img-fluid mx-auto m-2" src="{{url_for('static',filename='Images/Family.JPG')}}" alt="A family photo">
      <br>Remembering the same love and care, today, the very same team of chefs (which is actually our family) with the very same tooth sweetening recipes but with a huge variety of different cakes are now available online!</p>
     <h2 class="text-capitalize text-center pt-1 font-weight-bold" style="color: #4e555b">The way we are different from others!</h2>
    <p class="text-center mx-auto">When it is about cakes you might think of going to a bakery where you had to first stuck in a lane and afterwards choose from a different types of cakes and after buying you are actually not sure even that if it would arrive home in it’s original condition or not (Pun intended). But, when it comes to our services it’s totally different. You say; we make, we bake, we deliver!</p>
    <p class="text-center mx-auto">Yes, you read it accurately right and to the point. Our skilled team of chefs can prepare the cake you want anytime and anywhere. Let it be the cakes for birthday of your loved ones or the wedding anniversaries, we are all here to make your happier moments more memorable and rememberable with our outstanding range of cakes,pastries, brownies and you name it!</p>
    <h2 class="text-center text-capitalize pt-1 font-weight-bold" style="color: #4e555b">We not just bake the cakes!</h2>
    <p class="text-center mx-auto">We the team of bakers hereby assure you that we not just bake the cakes and other confectionery items in any conventional ways we bake the cakes beaten with the yolk of love, poured with the creamy texture of care and added with the sweetness of relations that is why we are called, The Kreami Cakes!</p>
   </div>

</section>
  </div>
<!-- about us part end -->

{% endblock %}